{{- define "content/main" -}}
	<main class="stack u-grow u-middle u-center">
		<h1>{{- default (printf "%s" .File) .Title -}}</h1>

		<div class="list stack u-grow u-grow-all">
			{{- $table := .Page.File | path.Dir | path.Base -}}
			{{- $step := .Page.File | path.BaseName -}}

			{{- with .Page.Params.found -}}
				{{- $page := $.GetPage . -}}
				<a href="{{- $page.RelPermalink -}}" class="panel">
					{{- T (printf "table.%s.%sa.text" $table $step) . -}}

					{{- with $page.Params.Resources -}}
						<ul class="level">
							{{- range . -}}
								{{- with resources.Get .src -}}
									<li>
										{{- $thumb := .Resize "x160 webp" -}}
										<img src="{{- $thumb.Permalink -}}" />
									</li>
								{{- end -}}
							{{- end -}}
						</ul>
					{{- end -}}
				</a>
			{{- end -}}

			{{- with .Page.Params.next -}}
				{{- $page := $.GetPage . -}}
				<a href="{{- $page.RelPermalink -}}" class="panel">
					{{- T (printf "table.%s.%sb.text" $table $step) . -}}

					{{- with $page.Params.Resources -}}
						<ul class="level">
							{{- range . -}}
								{{- with resources.Get .src -}}
									<li>
										{{- $thumb := .Resize "x160 webp" -}}
										<img src="{{- $thumb.Permalink -}}" />
									</li>
								{{- end -}}
							{{- end -}}
						</ul>
					{{- end -}}
				</a>
			{{- end -}}
		</div>
	</main>
{{- end -}}
