@charset "utf-8";
@import url('https://git.strooware.nl/fable.css/plain/dist/fable.min.css');
@import url('https://git.strooware.nl/fable.css/plain/dist/fable-comps.min.css');

body > main {
	padding: 1rem;
}

.panel {
	position: relative;
	background-color: grey;
}

a.panel:is(:hover, :active) {
	background-color: red;
}

.bgimg {
	position: absolute;
	z-index: -1;
}

.list > li {
	width: calc(50% - 0.5rem);
}

.testing {
	width: 100vw;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	padding: 0 0.5rem !important;
}

.testing > li {
	min-width: 90vw;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}
